body 
{
  background-color: deepskyblue;
}

h1 
{
  color: white;
  text-align: center;
}

p 
{
  font-family: verdana;
  font-size: 20px;
}

textarea
{
   margin-top: 12px;
   margin-bottom: 12px;
}

table, th, td
{
   border: 1px solid;
   border-collapse: collapse;
   color: #a53a4a;
   background-color: palegoldenrod;
   border-color: black;
}