body 
{
  background-color: deepskyblue;
}

h1 
{
  color: white;
  text-align: center;
  font-family: Garamond;
}

p 
{
  font-family: verdana;
  font-size: 20px;
}

iframe 
{
   width: 100%;
   position: fixed;
   border: none;
}

bio
{
   text-align: center;
}