body 
{
  background-color: deepskyblue;
}

h1 
{
  color: firebrick;
  text-align: center;
  font-family: Garamond;
}

p 
{
  font-family: verdana;
  font-size: 20px;
}

ul
{
   padding-left: 20px;
}

bio
{
   text-align: center;
}